h2 {
  color: #81b0f1;
}

.tea-menu {
  list-style: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  max-width: 15rem;
  border-radius: 10px;
  margin: 0.5rem 1.9rem 0.5rem 0rem;
  text-align: center;
  border: 2px solid #c17db8;
  color: white;
  padding: 0rem 0.7rem 0.3rem 0.7rem;
}

.tea-menu p:nth-child(2) {
  font-size: 0.8rem;
}

.tea-menu img {
  width: 2.2rem;
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5em;
  margin: 7.5px 6px;
  background: #81b0f1;
  color: #0f0a19;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.bill {
  color: white;
  font-weight: bold;
}
